# =========================
# Backend (Django)
# =========================

backend/venv/
backend/.env
backend/db.sqlite3

backend/__pycache__/
backend/**/*.pyc
backend/**/*.pyo

backend/staticfiles/
backend/media/

# =========================
# Frontend (React/Vite)
# =========================

frontend/node_modules/
frontend/dist/
frontend/build/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log