# Virtual Environment
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# Node
node_modules/
dist/